.menu {
  position: absolute;
  padding: 6px;
  border-radius: 4px;
  z-index: 100000000000000;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);

  & > * {
    padding: 5px 36px;
    padding-left: 36px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 4px;
  }
}

@media (prefers-color-scheme: dark) {
  .menu {
    background: #292a2d;
    & > * {
      color: white;

      &:hover {
        background: #3c4043;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  .menu {
    background: white;

    & > * {
      color: black;

      &:hover {
        background: #e8e8e9;
      }
    }
  }
}
