:root {
  --svgArrow: url('data:image/svg+xml,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">\
  <path fill="currentColor" d="M8.5 11 4.866 7.366A.8.8 0 0 1 5.43 6h6.138a.8.8 0 0 1 .565 1.366L8.5 11Z"/>\
  </svg>');
}

.themeDark input[type="radio"],
.themeDark input[type="checkbox"] {
  background-image: linear-gradient(
    180deg,
    transparent -100%,
    var(--colorFgFadedMost) 200%
  );
}

.root {
  background: var(--colorBgLightIntense);
  color: var(--colorFg);
  font-family: sans-serif;
  overflow: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 160px 1fr;
  max-height: 360px;
  overflow: hidden;
  width: 100%;
}

.sidebar {
  background: var(--colorBg);
  width: 160px;
  height: 100vh;
  border-right: 1px solid var(--borderSubtleColor);
  display: flex;
  flex-direction: column;
  padding: 12px 0;

  .tab {
    display: flex;
    flex: 0 0 auto;
    gap: 6px;
    height: 100%;
    padding-left: 6px;
    background: transparent;
    align-items: center;
    margin: 0 6px;
    border-radius: var(--radius);
    height: 28px;

    &.selected {
      background-color: var(--highlightBgColor);
      color: var(--highlightTextColor);
    }
  }
}

.root {
  select:enabled:not([multiple], [size]),
  .VivaldiSelector:not(:focus-within) .Inner__control {
    background-image: linear-gradient(
      var(--colorBgLightIntense),
      var(--colorBgDark)
    );
  }
  select:not([multiple], [size]) {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .max-columns {
    padding: 0 36px 0 12px;
  }
  select {
    height: 28px;
    color: var(--colorFg);
    padding: 0 24px 0 max(6px, var(--radiusCap));
    position: relative;
    max-width: 100%;
  }
  input,
  select,
  textarea,
  .dateInput input[type="date"],
  .dateInput input[type="time"] {
    background-color: var(--colorBgIntense);
    color: var(--colorFg);
  }
  button,
  input,
  select,
  textarea,
  input[type="text"],
  input[type="search"],
  input[type="password"],
  input[type="email"],
  input[type="url"],
  input[type="number"],
  input[type="radio"],
  input[type="date"],
  input[type="time"],
  input[type="checkbox"],
  input[type="button"],
  input[type="submit"] {
    appearance: none;
    border-width: 1px;
    border-style: solid;
    border-color: var(--borderColor);
    border-radius: var(--radius);
  }
  button,
  input,
  select,
  .tab-strip .tab-position,
  #tabs-subcontainer,
  .topmenu,
  .menu.horizontal > ul > li > .menu,
  .tab-group-indicator,
  .page-zoom-controls,
  .selectable,
  #browser.native #header,
  #browser.no-app-dragging .toolbar-statusbar,
  #browser.no-app-dragging #header {
    -webkit-app-region: no-drag;
  }
  button,
  input,
  select {
    vertical-align: middle;
    font: inherit;
    color: inherit;
  }

  *:focus-visible {
    outline: 2px solid var(--colorHighlightBg);
    outline-offset: -1px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    font-family: "Segoe UI", system-ui, sans-serif;
    position: relative;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    background-color: var(--colorBg);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    margin: unset;
    appearance: none;
  }

  input[type="radio"] {
    border-radius: var(--radiusRound);
  }

  input[type="radio"]:checked,
  input[type="checkbox"]:checked {
    border-color: var(--highlightBgColor);
    background-image: none;
    box-shadow: none;
  }

  input[type="radio"]:checked {
    box-shadow:
      0 1px 2px rgba(0, 0, 0, 0.1) inset,
      inset 0 0 0 5px var(--highlightBgColor);
    border-width: 0;
    transition: box-shadow 200ms ease-out;
  }

  input[type="button"]:not(.circular),
  input[type="submit"],
  input[type="color"],
  .FormButton {
    height: 28px;
    padding: 0 18px;
    user-select: none;
    color: var(--colorFg);
    fill: currentColor;
    background-image: linear-gradient(
      var(--colorBgLightIntense),
      var(--colorBgDark)
    );
  }

  input[type="button"]:not(.circular):hover:not(:disabled),
  input[type="submit"]:hover:not(:disabled),
  input[type="color"]:hover:not(:disabled) {
    background-image: linear-gradient(var(--colorBg), var(--colorBg));
  }

  input[type="button"]:not(.circular):active:not(:disabled),
  input[type="submit"]:active:not(:disabled),
  input[type="color"]:active:not(:disabled) {
    background-image: linear-gradient(var(--colorBgDark), var(--colorBgDark));
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  max-height: 360px;
  overflow-y: auto;
  padding-bottom: 24px;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: var(--scrollbarTrackBg);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbarThumbBg);
    border: 3px solid transparent;
  }

  h2 {
    margin-top: 0;
    padding-top: 24px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    text-transform: uppercase;
    letter-spacing: 0.4pt;
    border-bottom: 1px solid var(--borderSubtleColor);
    color: inherit;
    font-size: inherit;
    font-weight: 700;
  }

  h3 {
    font-size: inherit;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 6px;
  }

  label {
    display: inline-flex;
    vertical-align: top;
    gap: 9px;
    margin-top: 6px;

    span {
      margin-bottom: auto;
      margin-top: auto;
      flex: 1;
      font-weight: 400;
      font-size: 13px;
    }
  }
}
