.app {
  background: var(--asdf, #44454d);
  color: #d3d9e3;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: #2e2f37;
  }

  &::-webkit-scrollbar-thumb {
    background: #a3a6ab;
    border: 3px solid transparent;
  }
}

.content {
  width: 100%;
}

.tabs {
  display: flex;
  flex-direction: column;
  /* background: #2e2f37; */
  gap: 3px;
  padding: 6px;
}

.tab {
  height: 32px;
  display: flex;
  padding: 0 6px;
  gap: 6px;
  overflow: hidden;
  align-items: center;
  background: #4e4e56;
  margin-left: var(--offset);
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background: #575760;
  }

  &.active {
    background: #2e2f37;
    box-shadow: 0 0px 2px 0px #2e2f3775;
  }

  &.transparent {
    background: transparent;

    &:hover {
      background: transparent;
    }
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.8em;
  }

  img {
    height: 1.2em;
    aspect-ratio: 1/1;
  }

  .noFavicon,
  .volume {
    height: 1.2em;
    aspect-ratio: 1/1;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: rgba(256, 256, 256, 0.6);
      height: 14px;
      margin-right: auto;
    }
  }

  .volume {
    justify-content: flex-start;
  }

  .title {
    margin-right: auto;
  }

  .close {
    height: 1.2em;
    aspect-ratio: 1/1;
    border-radius: 2px;
    background: #2e2f3740;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;

    &:hover {
      background: #2e2f3780;
    }

    svg {
      fill: white;
      height: 14px;
    }
  }

  .closeWithChildren {
    height: 1.2em;
    aspect-ratio: 1/1;
    border-radius: 2px;
    background: #2e2f3740;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
    transform: rotate(45deg);

    &:hover {
      background: #2e2f3780;
    }

    svg {
      fill: white;
      height: 14px;
    }
  }

  .add {
    height: 1.2em;
    aspect-ratio: 1/1;
    border-radius: 2px;
    background: rgba(256, 256, 256, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: #4e4e56;
      height: 12px;
    }
  }

  &:hover {
    .close,
    .closeWithChildren {
      display: flex;
    }
  }

  &:hover .add {
    background: rgba(256, 256, 256, 1);
  }
}

.tabWrapper {
  position: relative;
  .popup {
    --left: calc(1.2em + 6px + 6px + var(--offset));
    position: absolute;
    top: calc(100% + 2px);
    left: var(--left);
    display: none;
    z-index: 1000;
    border-radius: 4px;
    pointer-events: none;
    box-shadow: 0 0px 4px 2px #2e2f3775;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: #2e2f37;
    width: calc(100% - var(--left));
    overflow: hidden;
    padding: 6px;
    transition: opacity 0.05s;

    .tabTitle {
      font-size: 0.8;
      font-weight: 400;
    }

    .tabUrl {
      font-size: 0.8em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      opacity: 0.8;
    }

    .thumbnail {
      width: 200px;
      margin: 12px auto;
      margin-top: 6px;
      border-radius: 4px;
    }
  }
}

.menu {
  position: absolute;
  background: #292a2d;
  padding: 12px 0;
  border-radius: 4px;
  z-index: 100000000000000;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);

  & > * {
    padding: 5px 24px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    /* border-bottom: 1px solid #3c4043; */
  }

  & > *:hover {
    background: #3c4043;
  }
}
