.tab {
  height: 32px;
  display: flex;
  padding: 0 6px;
  gap: 6px;
  overflow: hidden;
  align-items: center;
  background: var(--colorAccentBgAlphaHeavy);
  color: var(--colorAccentFg);
  margin-left: var(--offset);
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background: var(--colorAccentBgAlpha);
  }

  &.active {
    background: var(--colorBg);
    color: var(--colorFg);
    box-shadow: 0 0px 2px 0px var(--colorBg) 75;
  }

  &.transparent {
    background: transparent;

    &:hover {
      background: transparent;
    }
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.8em;
  }

  img {
    height: 1.2em;
    aspect-ratio: 1/1;
  }

  .noFavicon,
  .volume {
    height: 1.2em;
    aspect-ratio: 1/1;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: var(--colorFg);
      height: 14px;
      margin-right: auto;
    }
  }

  .title {
    margin-right: auto;
  }

  .close {
    height: 1.2em;
    aspect-ratio: 1/1;
    border-radius: 2px;
    background: var(--colorBg) 40;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;

    &:hover {
      background: var(--colorBg) 80;
    }

    svg {
      fill: var(--colorFg);
      height: 14px;
    }
  }

  .closeWithChildren {
    height: 1.2em;
    aspect-ratio: 1/1;
    border-radius: 2px;
    background: var(--colorBg) 40;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
    transform: rotate(45deg);

    &:hover {
      background: var(--colorBg) 80;
    }

    svg {
      fill: var(--colorFg);
      height: 14px;
    }
  }

  .add {
    height: 1.2em;
    aspect-ratio: 1/1;
    border-radius: 2px;
    background: var(--colorFg);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: var(--colorBg);
      height: 12px;
    }
  }

  &:hover {
    .close,
    .closeWithChildren {
      display: flex;
    }
  }

  &:hover .add {
    background: var(--colorAccentFg);
  }
}

.tabWrapper {
  position: relative;
  .popup {
    --left: calc(1.2em + 6px + 6px + var(--offset));
    position: absolute;
    top: calc(100% + 2px);
    left: var(--left);
    display: none;
    z-index: 1000;
    border-radius: 4px;
    pointer-events: none;
    box-shadow: 0 0px 4px 2px var(--colorBg) 75;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: var(--colorBg);
    width: calc(100% - var(--left));
    overflow: hidden;
    padding: 6px;
    transition: opacity 0.05s;

    .tabTitle {
      font-size: 0.8;
      font-weight: 400;
    }

    .tabUrl {
      font-size: 0.8em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      opacity: 0.8;
    }

    .thumbnail {
      width: 200px;
      margin: 12px auto;
      margin-top: 6px;
      border-radius: 4px;
    }
  }
}
