.tab {
  height: 32px;
  display: flex;
  padding: 0 6px;
  gap: 6px;
  overflow: hidden;
  align-items: center;
  background: var(--tabBg);
  color: var(--tabColor);
  margin-left: var(--offset);
  cursor: pointer;
  border-radius: var(--radius);
  transition:
    background 0.05s,
    color 0.05s,
    box-shadow 0.05s;

  &:hover {
    background: var(--tabBgHover);
    color: var(--tabColorHover);
  }

  &.unread {
    background-image: linear-gradient(
      -135deg,
      var(--colorAccentFgAlpha) 5px,
      transparent 5px
    );
  }

  &.active {
    background: var(--tabBgActive);
    color: var(--tabColorActive);
    box-shadow: 0 0px 2px 0px var(--colorBg) 75;
  }

  &.transparent {
    background: transparent;

    &:hover {
      background: transparent;
    }
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.8em;
    /* line-height: 1em; */
    margin-top: 3px;
  }

  img {
    width: 16px;
    height: 16px;
  }

  svg {
    width: 16px;
    height: 16px;
    fill: var(--colorFg);
  }

  .noFavicon {
    height: 1.2em;
    aspect-ratio: 1/1;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: var(--colorFg);
      height: 14px;
      margin-right: auto;
    }
  }

  .title {
    margin-right: auto;
  }

  .close {
    height: 1.2em;
    aspect-ratio: 1/1;
    border-radius: 2px;
    background: var(--colorBg) 40;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;

    &:hover {
      background: var(--colorBg) 80;
    }

    svg {
      fill: var(--colorFg);
      height: 14px;
    }
  }

  .closeWithChildren {
    height: 1.2em;
    aspect-ratio: 1/1;
    border-radius: 2px;
    background: var(--colorBg) 40;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    display: none;
    transform: rotate(45deg);

    &:hover {
      background: var(--colorBg) 80;
    }

    svg {
      fill: var(--colorFg);
      height: 14px;
    }
  }

  &.addTab {
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }

    svg {
      height: 1.2em;
      aspect-ratio: 1/1;
      fill: var(--colorFg);
    }

    span {
      margin-top: 1px;
      line-height: unset;
    }
  }

  &:hover {
    .close,
    .closeWithChildren {
      display: flex;
    }
  }

  &:hover .add {
    background: var(--colorAccentFg);
  }
}

.tabWrapper {
  position: relative;

  .popupWrapper {
    --left: calc(1.2em + 6px + var(--offset));
    position: absolute;
    top: calc(100% + 2px);
    left: var(--left);
    display: none;
    z-index: 1000;
    border-radius: 4px;
    pointer-events: none;
    box-shadow: 0 0px 4px 2px var(--colorBg) 75;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--left));
    background: var(--colorAccentBgFadedMore);

    .popup {
      display: flex;
      gap: 6px;
      background: var(--colorBg);
      flex-direction: column;
      overflow: hidden;
      padding: 6px;
      transition: opacity 0.05s;
      width: 100%;

      .tabTitle {
        font-size: 0.8;
        font-weight: 400;
      }

      .tabUrl {
        font-size: 0.8em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        opacity: 0.8;
      }
    }

    .thumbnail {
      max-width: 100%;
      max-height: 200px;
      width: auto;
      height: auto;
      display: block;
      object-fit: contain;
    }

    .emptyThumbnail {
      width: 100%;
      height: 100px;
      background: var(--colorAccentBgFadedMore);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8em;
      opacity: 1;
    }
  }
}
